@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Ubuntu");
@import url("/css/font-awesome.min.css");

* {
    box-sizing     : border-box;
    scroll-behavior: smooth;
}

body {
    margin     : 0;
    font-family: "Lato";
    text-align : center;
    color      : #faed26;
    background-image   : url('/images/home_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat  : no-repeat, repeat;
    background-size    : cover;
}

.container {
    width : 100%;
    height: auto;
}

.awake {
    position  : absolute;
    bottom    : 0;
    right     : 8%;
    height    : 50;
    width     : 20%;
    display   : block;
    object-fit: contain;
}

@media (max-width: 60rem) {
    .awake {
        margin-right: 1.7em;
    }
}

/*===============
     BUTTONS 
================*/

.button {
    display        : inline-block;
    font-size      : 1.1rem;
    text-decoration: none;
    text-transform : uppercase;
    border-width   : 0.11em;
    border-style   : solid;
    padding        : 0.6em 1.75em;
    box-shadow     : 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-accent {
    color       : #faed26;
    border-color: #faed26;
}

.button-accent:hover,
.button-accent:focus {
    background: #faed26;
    color     : #5a5560;
}

@media (max-width: 60rem) {
    .button {
        font-size: 1rem;
    }
}


.credit{
    margin:0;
    position:fixed;
    bottom:0;
    right:0;
}

/*==============
     TYPOGRAPHY 
===============*/

.title {
    font-size    : 5.5rem;
    margin-bottom: 0em;
    margin-top   : 0em;
    font-weight  : 900;
}

.glow {
    font-size: 80px;
    text-align: center;
    -webkit-animation: glow 5s ease-in infinite alternate;
    -moz-animation: glow 5s ease-in infinite alternate;
    animation: glow 5s ease-in infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #E0FFFF, 0 0 10px #E0FFFF,;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 10px #E0FFFF, 0 0 10px #E0FFFF;
    }
  }

.spanStyle {
    font-size  : 1.2rem;
    font-weight: 300;
    display    : block;
    font-style : italic;
}

.title-cta {
    margin: 0 0 0.5em;
}

nav {
    font-family: "Ubuntu";
}

.about {
    font-size    : 3.5rem;
    margin-bottom: 0.5em;
    margin-top   : 0em;
    font-weight  : 900;
}

.highlight{
    background-color: #000
}

.about .spanStyle {
    color: #ddd;
}

.about-cta {
    margin: 0 0 0.5em;
}

.feed {
    font-size    : 3.5rem;
    margin-bottom: 0.5em;
    margin-top   : 0em;
    font-weight  : 900;
}

.link{
    text-decoration: none;
    color:#fff;
    background-color: black;
    font-weight: 400;
}


/* Parallax
=================== */

.parallax--bg,
.parallax--box {
    transition: initial;
}

/*============
     HEADER 
============*/

header {
    position: absolute;
    left    : 0;
    right   : 0;
    margin  : 2em;
}

nav ul {
    margin    : 0;
    padding   : 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin : 1em;
}

nav a {
    font-weight    : 900;
    text-decoration: none;
    padding        : 0.5em;
    text-transform : uppercase;
    color          : white;
    font-size      : 0.8rem;
    margin-right   : 1em;
    margin-top     : 1em;
}

nav a:hover,
nav a:focus {
    color: #ddd;
}

@media (min-width: 60rem) {
    nav {
        float: right;
    }
}

/*==============
     Home Hero 
===============*/

.home-hero {
    height             : 100vh;
    padding            : 10em 0;
}

.home-hero .container {
    background-size : cover;
}


@media (min-width: 60rem) {
    .home-hero {
        height     : 100vh;
        padding-top: 40vh;
    }
}

/*============
     ABOUT 
============*/

.about-hero {
    padding-top     : 10%;
    height          : 100vh;
}

.about-hero .container {
    margin-top: 0;
}

.about {
    margin-top     : 0.5em;
    align-items    : center;
    justify-content: center;
}

.about .spanStyle {
    display: block;
    padding: 2%;
    margin : 2em 1em 1em 2em;
}

p .spanStyle {
    align-items: right;
}

@media (min-width: 60rem) {
    .about-hero {
        height     : 100vh;
        padding-top: 40vh;
    }
}

/*============
     feeds 
============*/

.feed-hero {
    padding-top     : 10%;
    height          : 100vh;}

.feed-hero .container {
    margin-top: 0;
}

.feed {
    margin-top     : 0.5em;
    align-items    : center;
    justify-content: center;
}

.feed .spanStyle {
    display: block;
    padding: 2%;
    margin : 2em 1em 1em 2em;
}

p .spanStyle {
    align-items: right;
}

@media (min-width: 60rem) {
    .feed-hero {
        height     : 100vh;
        padding-top: 40vh;
    }
}

/********************
icons
*********************/

.icon {
    text-decoration: none;
    border-bottom  : none;
    position       : relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing : antialiased;
    font-family            : FontAwesome;
    font-style             : normal;
    font-weight            : normal;
    text-transform         : none !important;
}

.icon>.label {
    display: none;
}

.icons {
    text-align : center;
    padding-top: 1em;
}

.icon.round {
    display      : block;
    background   : rgba(255, 255, 255, 0.15);
    border-radius: 100%;
    height       : 4em;
    width        : 4em;
    line-height  : 4em;
    color        : #FFF;
}

#footer .icon.round:hover {
    color     : rgba(255, 255, 255, 0.25);
    background: none;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
}

ul.icons {
    cursor      : default;
    list-style  : none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 2em;
}

.tweet-center{
    margin-right:0;
    left:50%;
}